<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/github">github</a></li>

  </head>
  <body>
